<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiny.backend.map.UserMapper">

    <select id="getAllUsers" resultType="com.jiny.backend.dto.UserDto">
        select
            user_id, user_name, user_password, login_datetime, use_yn
        from test.tb_user
        order by user_id
    </select>

    <insert id="save" parameterType="com.jiny.backend.dto.UserDto">
        insert into test.tb_user
            (user_id, user_name, user_password, login_datetime, use_yn)
        values
            (#{userId}, #{userName}, #{userPassword}, now(), 'Y')
    </insert>

    <select id="findById" parameterType="String" resultType="com.jiny.backend.dto.UserDto">
        select
            user_id, user_name, user_password, login_datetime, use_yn
        from test.tb_user
        where user_id = #{userId}
    </select>

    <update id="update" parameterType="com.jiny.backend.dto.UserDto">
        update test.tb_user set
            user_name = #{userName},
            user_password = #{userPassword},
            login_datetime = now()
        where user_id = #{userId}
    </update>

    <delete id="delete" parameterType="com.jiny.backend.dto.UserDto">
        delete from test.tb_user
        where user_id = #{userId}
    </delete>

</mapper>